<!-- <itcorpo-sidebar [(collapsed)]="sidebarCollapsed">
  RECENTLY VIEWED EMPLOYEES DISPLAYED HERE
</itcorpo-sidebar>

<span (click)="onToggleSidebar()" class="icon">📖</span>

<h2>Our Employees</h2>

city: <itcorpo-dropdown [options]="cities"></itcorpo-dropdown>
{{facade.nameFilter()}}
<label> name filter:
  <input type="text" [value]="facade.nameFilter()" (input)="facade.updateNameFilter($event)">
</label>


@if(facade.displayedEmployees().length > 0) {
  <div>
    displaying: {{ facade.displayedCount() }} of total {{ facade.employeesCount() }}
  </div>
  <div>
    <button [disabled]="!facade.prevEnabled()" (click)="facade.setPrevPage()">PREV</button>
    | {{ facade.currentPage() }} |
    <button [disabled]="!facade.nextEnabled()" (click)="facade.setNextPage()">NEXT</button>
  </div>
  <div>
    page size:
    @for(size of facade.pageSizes; track size){
      <button [disabled]="facade.pageSize() == size" (click)="facade.setPageSize(size)">
        {{ size }}
      </button>
    }
  </div>

  <ul>
    @for(e of facade.displayedEmployees(); track e.id){
      <li>
        {{ e | nameAndTitle }} {{ e | flag }}
        (<a routerLink="/employees/{{ e.id }}" routerLinkActive="active">details</a>)
      </li>
    }
  </ul>
} -->
