<itcorpo-sidebar [(collapsed)]="sidebarCollapsed">
  RECENTLY VIEWED EMPLOYEES DISPLAYED HERE
</itcorpo-sidebar>

<span (click)="onToggleSidebar()" class="icon">📖</span>
<!-- <itcorpo-round-button (clicked)="onToggleSidebar()"></itcorpo-round-button> -->

<h2>Our Employees</h2>

city: <itcorpo-dropdown [options]="cities"></itcorpo-dropdown>
{{nameFilter()}}
<label> name filter:
  <!-- <input type="text" [value]="nameFilter()" (input)="updateNameFilter($event)"> -->
  <input type="text" [(value)]="nameFilter">
</label>

@if(displayedEmployees().length > 0) {
  count: {{ displayedEmployees().length }}
  <ul>
    @for(e of displayedEmployees(); track e.id){
      <li>
        {{ e | nameAndTitle }} {{ e | flag }}
        (<a routerLink="/employees/{{ e.id }}" routerLinkActive="active">details</a>)
      </li>
    }
  </ul>
}
